.idea
__pycache__/
*.egg-info
*.egg
docs
augmented_dataset
tests/temp_dir_123125123/
scripts/job_submission_template.py
/scripts/update_old_formats/
/scripts/job_submission_template.py
/scripts/ke_training.sh
/scripts/ke_submission_template.py
/scripts/create_hyperparameters.py
