.idea
__pycache__/
*.egg-info
*.egg
docs
augmented_dataset
/scripts/update_old_formats/
/scripts/ke_training.sh
/scripts/create_hyperparameters.py
/build
.DS_Store
ke/.DS_Store
ke/manual_introspection/.DS_Store
